{% assign contact = site.data.data.contact %}
{% if contact %}
<section class="contact">
    <div class="title">Contact</div>
    {% if contact.email %}
        <div class="contact-item">
            <i data-feather="mail"></i>
            <a href="#">
                {{contact.email}}
            </a>
        </div>
    {% endif %}

    {% if contact.phone %}
        <div class="contact-item">
            <i data-feather="phone"></i>
            <a href="#">
                {{contact.phone}}
            </a>
        </div>
    {% endif %}

    {% if contact.github %}
        <div class="contact-item">
            <i data-feather="github"></i>
            <a href="https://github.com/{{contact.github}}">
                {{contact.github}}
            </a>
        </div>
    {% endif %}

    {% if contact.blog %}
        <div class="contact-item">
            <i data-feather="home"></i>
            <a href="{{contact.blog}}">
                blog
                <!-- {{contact.blog}} -->
            </a>
        </div>
    {% endif %}

</section>
{% endif %}